.main-box {
    display: flex;
    flex: 1;
    background-color: #303030;
    color: white;
}

.holder {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}
.contents {
    /* flex-grow: 1; */
    width: 100%;
}

.sidebar-container {
    margin: auto;
}

.cover-img {
    width: 100%;
}

.show-info {
    display: flex;
    /* display: grid; */
    /* grid-template-columns: repeat(3, auto);
    grid-auto-columns: minmax(150px, auto); */
    margin: 30px;
    max-height: 300px;
}

@media(max-width: 750px) {
    .show-info {
        flex-wrap: wrap;
        max-height: 1000px;
    }
}

.short-info {
    width: 10%;
    min-width: 150px;
    margin-right: 30px;
}

.studio-info {
    /* margin: 0 30px; */
    margin-right: 30px;
    width: 15%;
    min-width: 200px;
}

.studio-table {
    font-size: 14px;
}

.title {
    color: #E0E0E0;
    margin: 10px 15px;
    font-size: 24px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.summary {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.summary-text {
    border: 1px solid #454545;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    flex-grow: 1;
    overflow: auto;
}

.info-header {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: normal;
    margin-bottom: 15px;
    color: #d6d6d6;
}

.ep-preview {
    width: 150px;
    max-height: 100px;
    position: relative;
}

.ep-preview:hover {
    cursor: pointer;
}

.ep-preview:hover .glass {
    filter: blur(0);
}

.ep-name {
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.ep-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    grid-gap: 15px;
    justify-content: space-evenly;
    margin-top: 30px;
}

.glass {
    filter: blur(2px);
    transition: 0.5s;
}

/* Slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 20px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider-box {
      padding-top: 12px;
      padding-left: 20px;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #303030;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #d9703a;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #d9703a;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 6px;
  }

/* width */
::-webkit-scrollbar {
    width: 8px;
    border-radius: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #303030; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: black; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
