.searchIcon{
    color: white;
}
.searchbar{
    width: 325px;
    background: #303030;
    border: 1px solid #5c5c5c;
}

.p-2 {
    margin: auto;
}

.test {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}