.searchIcon{
    color: white;
}
.searchbar{
    width: 325px;
    background: #303030;
    border: 1px solid #5c5c5c;
}

.p-2 {
    margin: auto;
}

.test {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.filterShow{
    width: 325px;
    border-style:solid;
    margin: 0;
    border-width:thin;
    text-overflow: ellipsis;
    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}
